<section class="auth">
  <div [@appearance]="" class="container auth__container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="auth__form">
      <h2 class="auth__title">Sign Up</h2>

      <div class="auth__form-group">
        <label class="auth__label" for="user">Email:</label>

        <input (focus)="onFocus()" class="auth__input" formControlName="email" id="user" type="text">
      </div>

      <small *ngIf="isControlInvalid('email')" class="error">
        Invalid email!
      </small>

      <div class="auth__form-group">
        <label class="auth__label" for="password">Password:</label>

        <input (focus)="onFocus()" class="auth__input" formControlName="password" id="password" type="password">
      </div>

      <small *ngIf="isControlInvalid('password')" class="error">
        Password must contain 8-18 characters!
      </small>

      <small *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </small>

      <div class="auth__media-label">
        Or Sign Up with:
      </div>

      <ul class="auth__icons">
        <li>
          <img (click)="facebookAuth()" alt="facebook" src="../../../assets/svg/facebook.svg">
        </li>

        <li>
          <img (click)="githubAuth()" alt="github" src="../../../assets/svg/git.svg">
        </li>

        <li>
          <img (click)="googleAuth()" alt="google" src="../../../assets/svg/google.svg">
        </li>
      </ul>

      <div class="auth__buttons">
        <button [disabled]="form.invalid || isSubmitted" class="auth__sign-up" type="submit">
          Sign Up
        </button>
      </div>

      <div class="auth__already">
        Already have an account?
      </div>

      <a class="auth__sign-in" routerLink="/sign-in">
        Sign In
      </a>
    </form>
  </div>
</section>
