<section class="auth">
    <div class="container auth__container">
        <form class="auth__form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <h2 class="auth__title">Sign Up</h2>
            <div class="auth__form-group">
                <label class="auth__label" for="user">Email</label>

                <input class="auth__input" id="user" type="text" formControlName="email">
            </div>

            <div class="auth__error" *ngIf="isControlInvalid('email')">
                Invalid email!
            </div>

            <div class="auth__form-group">
                <label class="auth__label" for="password">Password</label>

                <input class="auth__input" id="password" type="password" formControlName="password">
            </div>

            <div class="auth__error" *ngIf="isControlInvalid('password')">
                Password must contain 8-18 characters!
            </div>

            <div class="auth__buttons">
                <button class="auth__sign-up" type="submit">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</section>