<header class="header container header__container">
    <img class="header__logo" src="../../../assets/logo.png" alt="logo">
    <a href="#" class="header__login">login</a>
</header>
<main>
    <section class="auth">
        <div class="container auth__container">
            <form class="auth__form" action="#">
                <h2>Sign Up</h2>
                <fieldset class="auth__fieldset">
                    <label class="auth__label" for="user">User</label>
                    
                    <input class="auth__input" id="user" type="text">
                </fieldset>
                
                <fieldset class="auth__fieldset">
                    <label class="auth__label" for="password">Password</label>
                    
                    <input class="auth__input" id="password" type="password">
                </fieldset>

                <div class="auth__icons">
                    <ul>
                        <li>

                        </li>

                        <li>

                        </li>

                        <li>

                        </li>
                    </ul>
                </div>

                <button class="auth__submit" type="submit">Sign Up</button>
            </form>
        </div>
    </section>
</main>
