<section class="question">
    <div class="container question__container">
        <article class="question__post">
            <div class="question__info">
                <small class="question__date">{{post?.date | date}}</small>
                
                <small class="question__author">Author</small>
            </div>
        
            <h2 class="question__title">{{post?.title}}</h2>
        
            <p class="question__text">
                {{post?.text}}
            </p>

            <div class="question__info">
                <ul class="question__tags">
                    <li class="question__tag" *ngFor="let tag of post?.tags">
                        <a class="question__tag-link">{{tag}}</a>
                    </li>
                </ul>

                <a class="question__back" routerLink="/home">Back</a>
            </div>
        </article>

        <div class="question__media">
            <p>Comments / Answers</p>
            <ul class="question__comments">
                <li>
                    <article class="question__comment">
                        <div class="question__comment-author">
                            <img src="../../../assets/png/user.png" alt="user avatar">
                            <p>Author</p>
                        </div>
                        <p class="question__comment-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, quas.
                        </p>
                        <div class="question__comment-info">
                            Date    
                        </div>
                    </article>
                </li>

                <li>
                    <article class="question__comment">
                        <div class="question__comment-author">
                            <img src="../../../assets/png/user.png" alt="user avatar">
                            <p>Author</p>
                        </div>
                        <p class="question__comment-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero sunt, beatae natus numquam sequi quas quod corrupti eius ab illo qui ad nam. Natus alias ea architecto laborum, minus vero?
                        </p>
                        <div class="question__comment-info">
                            Date
                        </div>
                    </article>
                </li>

                <li>
                    <article class="question__comment">
                        <div class="question__comment-author">
                            <img src="../../../assets/png/user.png" alt="user avatar">
                            <p>Author</p>
                        </div>
                        <p class="question__comment-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ex similique eligendi? Iure, odio maiores, quasi eveniet earum officiis eum, mollitia est autem quaerat fugit!
                        </p>
                        <div class="question__comment-info">
                            Date
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
</section>


