.header {
    background-color: rgb(241, 232, 232);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__login {
        display: block;
        font-size: 25px;

        &:hover {
            text-decoration: underline;
            transform: scale(1.05);
        }
    }
}