<section class="add">
  <div [@appearance]="" class="container add__container">
    <h2 class="add__title">Add question</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="add__form">
      <div class="add__group">
        <label class="add__label" for="title">
          Title:
          <input formControlName="title" id="title" type="text">
        </label>
      </div>

      <ng-container *ngIf="form.get('title')?.errors">
        <small *ngIf="form.get('title').errors.required && form.get('title').touched" class="error">
          Title is required!
        </small>

        <small *ngIf="form.get('title').errors.minlength && form.get('title').touched" class="error">
          Title must contain at least {{form.get('title').errors.minlength.requiredLength}} characters!
        </small>

        <small *ngIf="form.get('title').errors.maxlength && form.get('title').touched" class="error">
          Title must contain no more than {{form.get('title').errors.maxlength.requiredLength}} characters!
        </small>
      </ng-container>

      <div class="add__group">
        <label class="add__label" for="text">
          Text:
          <textarea formControlName="text" id="text" name="text"></textarea>
        </label>
      </div>

      <ng-container *ngIf="form.get('text').errors">
        <small *ngIf="form.get('text').errors.required && form.get('text').touched" class="error">
          Text is required!
        </small>

        <small *ngIf="form.get('text').errors.minlength && form.get('text').touched" class="error">
          Text must contain at least {{form.get('text').errors.minlength.requiredLength}} characters!
        </small>

        <small *ngIf="form.get('text').errors.maxlength && form.get('text').touched" class="error">
          Text must contain no more than {{form.get('text').errors.maxlength.requiredLength}} characters!
        </small>
      </ng-container>

      <div class="add__group add__group--tags" formGroupName="tags">
        <span class="add__label">
          Tags:
          <ul class="add__checkbox">
            <li *ngFor="let item of categories; let i = index">
              <label class="add__checkbox-label">
                <input (change)="onChecked($event)" [id]="item.toLowerCase()" type="checkbox">
                {{item}}
              </label>
            </li>
          </ul>
        </span>
      </div>

      <div class="add__group add__group--buttons">
        <button [disabled]="form.invalid || !isTagChecked" class="add__button add__button--ok">Ok</button>

        <a class="add__button add__button--cancel" routerLink="/home">Cancel</a>
      </div>
    </form>
  </div>
</section>
