<section class="auth">
    <div class="container auth__container">
        <form class="auth__form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2 class="auth__title">Sign In</h2>
            <div class="auth__form-group">
                <label class="auth__label" for="user">Email</label>

                <input class="auth__input" id="user" type="text" formControlName="email" (focus)="onFocus()">
            </div>

            <small class="error" *ngIf="isControlInvalid('email')">
                Invalid email!
            </small>

            <div class="auth__form-group">
                <label class="auth__label" for="password">Password</label>

                <input class="auth__input" id="password" type="password" formControlName="password" (focus)="onFocus()">
            </div>

            <small class="error" *ngIf="isControlInvalid('password')">
                Incorrect password!
            </small>

            <small class="error" *ngIf="errorMessage">
                {{errorMessage}}
            </small>

            <div class="auth__media-label">
                Or Sign In with:
            </div>

            <ul class="auth__icons">
                <li>
                    <img src="../../../assets/svg/facebook.svg" alt="facebook" (click)="facebookAuth()">
                </li>
                    <img src="../../../assets/svg/git.svg" alt="github" (click)="githubAuth()">
                <li>
                    <img src="../../../assets/svg/google.svg" alt="google" (click)="googleAuth()">
                </li>
            </ul>

            <button class="auth__sign-in" type="submit" [disabled]="form.invalid || isSubmitted">
                Sign In
            </button>

            <div class="auth__not-have">
                Don't have an account?
            </div>

            <a routerLink="/sign-up" class="auth__sign-up">
                Sign Up
            </a>
        </form>
    </div>
</section>
