@import "../../../assets/styles/colors";
@import "../../../assets/styles/mixins";

.auth {
    &__title {
      font-size: 35px;
      margin-bottom: 50px;
    }

    &__form {
      @include auth-form;
    }

    &__form-group {
      width: 30%;
      min-width: 280px;
      display: flex;
      justify-content: space-between;
    }

    &__label {
        font-size: 25px;
    }

    &__input {
      width: 60%;
    }

    &__icons {
      display: flex;
      gap: 20px;

      & img {
          width: 40px;
          height: 40px;
          cursor: pointer;
          &:hover {
              transform: scale(1.05);
          }
      }
    }

    &__sign-in {
      @include auth-button($signInColor);
    }
    &__sign-up {
      @include auth-button($signUpColor);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__buttons {
      display: flex;
      gap: 20px;
    }

    &__media-label {
      font-size: 16px;
    }

    &__not-have {
      font-size: 16px;
    }
}

