.already {
    &__container {
        text-align: center;
    }

    &__text {
        font-size: 25px;
        color: white;
    }

    &__home {
        font-size: 25px;
        color: white;

        & a {
            color: white;
            text-decoration: underline;
            font-weight: bold;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}