
.home {

    &__title {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    &__posts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
    }

    &__post {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
        padding: 5px 10px;
        width: 30%;
        background-color: white;
        border: 2px solid black;
        height: 120px;

        @media screen and (max-width: 500px) {
            width: 40%;
            justify-content: baseline;
        }
    }
    
    &__post-title {
        font-size: 25px;
        cursor: pointer;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 850px) {
            font-size: 20px;
        }

        @media screen and (max-width: 350px) {
            font-size: 15px;
        }
    }

    &__post-date {
        font-size: 12px;
        align-self: center;

        @media screen and (max-width: 600px) {
            font-size: 8px;
        }

        @media screen and (max-width: 350px) {
            font-size: 6px;
        }
    }

    &__post-info {
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__post-tags {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        font-style: italic;
    }

    &__post-tag {
        cursor: pointer;
        color: blue;
        &:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 600px) {
            font-size: 10px;
        }

        @media screen and (max-width: 350px) {
            font-size: 8px;
        }
    }

}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 600px) {
        position: static;
    }

    &__container {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: end;
        bottom: 0;
        right: 0;
    }

    &__link {
        align-items: flex-end;
    }

    &__plus {
        cursor: pointer;
        margin-top: 100px;
        width: 80px;
        height: 80px;
        fill: white;
        
        &:hover {
            transform: scale(1.05);
        }
    }
}