Ы<section class="home">
    <div class="container">
        <h2 class="home__title">Active questions</h2>

        <div class="home__posts">
            <article class="home__post" data-id="{{i}}" *ngFor="let post of posts; let i = index">
                <a [routerLink]="'/questions/' + post.id">
                    <h3 class="home__post-title">{{post.title}}</h3>
                </a>

                <div class="home__post-info">
                    <small class="home__post-date">{{post.date | date: 'd/M/yyyy, h:mm a'}}</small>
                    <ul class="home__post-tags">
                        <li class="home__post-tag" *ngFor="let tag of post.tags; let i = index">
                            {{tag}}
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>


<footer class="footer">
    <div class="container footer__container">
        <a routerLink="/add-question" class="footer__link">
            <img class="footer__plus" src="../../../assets/png/plus.png" alt="plus">
        </a>
    </div>
</footer>
