* {
    color: white;
}

h3 {
    font-size: 40px;
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    font-size: 25px;
    color: black;
}

.home {
    &__plus {
        cursor: pointer;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        fill: white;
        &:hover {
            transform: scale(1.05);
        }
    }
}