h3 {
    font-size: 40px;
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    font-size: 25px;
    color: black;
}

.home {
    &__title {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    &__posts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__post {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 15px;
        width: 100%;
        background-color: white;
        border: 2px solid black;
    }
    
    &__post-title {
        font-size: 25px;
    }

    &__post-text {
        text-align: center;
        font-size: 20px;
    }

    &__post-date {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &__post-tags {
        border-top: 1px solid #000;
        display: flex;
        justify-content: center;
        gap: 10px;
        font-style: italic;
        text-align: center;
    }

    &__plus {
        cursor: pointer;
        width: 80px;
        height: 80px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        fill: white;
        &:hover {
            transform: scale(1.05);
        }
    }
}