<main>
    <section class="home">
        <div class="container">
            <h2 class="home__title">Active questions</h2>

            <div class="home__posts">
                <article class="home__post" *ngFor="let p of posts">
                    <h3 class="home__post-title">{{p.title}}</h3>

                    <div class="home__post-info">
                        <span class="home__post-date">{{p.date | date: 'd/M/yyyy, h:mm a'}}</span>
                        <ul class="home__post-tags">
                            <li class="home__post-tag" *ngFor="let t of p.tags; let i = index">
                                {{t}}
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="container footer__container">
        <a routerLink="/add-question" class="footer__link">
            <img class="footer__plus" src="../../../assets/png/plus.png" alt="plus">
        </a>
    </div>
</footer>
