@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Oswald&family=Press+Start+2P&display=swap');

body {
    background-image: url('assets/jpg/background.jpg');
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ibarra Real Nova', serif;
}


a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}